/*
Theme Name: hello-elementor-child
Theme URI: http://www.independent-software.com
Author: Independent Software
Author URI: http://www.independent-software.com
Description: WordPress theme development guide
Version: 1.0
Parent theme: hello-elementor
License: Private
Text Domain: mytheme
*/


/*Libre Franklin = HelveticaNeue,  Poppins = Avenir */

div.white {
    background-color: white;
    padding-bottom: 6em;
    padding-top: 2em;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: .2em;
    color: white;
    font-size: xxx-large;
    text-transform: uppercase;
    margin-bottom: 2em;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    padding-bottom: 1.5em;
}

h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: #313F48;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    letter-spacing: .2em;
    font-size: x-large;
}

body {
    margin: 0
}

#logo {
    width: auto;
}

#nav-buttons {
    float: right;
}

.navbar {
    height: 72px;
    margin: .1em 6em;
}

ul {
    list-style-type: none;
    margin: 0;
    text-align: center;
    overflow: hidden;
    padding-inline-start: 0;
}

.collapse {
    font-size: xxx-large;
    padding-top: 8px;
    list-style: none;
    color: black;
    justify-content: center;
    text-decoration: none;
    display: none;
}

li.btn
/* BUTTONS */

{
    float: left;
    margin: 4px 4px;
    justify-content: center;
}

li a {
    display: block;
    text-align: center;
    padding-top: 0;
    color: #313F48;
    padding: 0 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    letter-spacing: .1em;
}

li a,
.icon {
    padding-top: 20px;
}

.slidepic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.slidepic {
    width: 100%;
    position: relative;
}

.slider {
    position: relative;
}

ul.slideshow {
    padding: 0%;
}

.picnav {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    width: 3em;
    text-align: center;
}

.previous {
    margin-left: 2.5em;
}

.next {
    right: 1;
    margin-right: 2.5em;
}

.left {
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 0.1em solid white;
    border-radius: 50%;
}

.left:after {
    content: '';
    display: inline-block;
    margin-top: 0.9em;
    margin-left: 0.6em;
    width: 1em;
    height: 1em;
    border-top: 0.1em solid white;
    border-right: 0.1em solid white;
    -moz-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.left:hover {
    background-color: white;
}

.left:hover::after {
    border-top: 0.1em solid #313F48;
    border-right: 0.1em solid #313F48;
}

.right:hover {
    background-color: white;
}

.right:hover::after {
    border-top: 0.1em solid #313F48;
    border-right: 0.1em solid #313F48;
}

.right {
    display: inline-block;
    width: 3em;
    height: 3em;
    border: 0.1em solid white;
    border-radius: 50%;
}

.right:after {
    content: '';
    display: inline-block;
    margin-top: 0.9em;
    margin-left: -0.6em;
    width: 1em;
    height: 1em;
    border-top: 0.1em solid white;
    border-right: 0.1em solid white;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.next {
    right: 1;
}

.div-center {
    width: 100%;
    text-align: center;
    background-color: #F4F5F6;
    padding-top: 6em;
}

h2 {
    text-transform: uppercase;
    font-size: xx-large;
    font-family: Poppins, sans-serif;
    color: #313F48;
    letter-spacing: .2em;
    font-weight: 300;
}

.description {
    font-family: Poppins, sans-serif;
    color: #313F48;
    font-weight: 300;
    padding: 1em 18em;
    line-height: 2em;
}


/* LATEST POSTS */

.flex-container {
    margin-bottom: 4em;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    max-width: 100%;
}

.img-container {
    margin-right: 2em;
    margin-left: 2em;
    position: relative;
    transition: all .4s ease-in-out;
}

.img-container:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.img-container:hover .img-description {
    display: block !important;
    cursor: pointer;
}

.img-container:hover>.post-title {
    display: none;
}

.img-description {
    position: absolute;
    text-align: center;
    bottom: 10em;
    padding-left: 3.5em;
    padding-right: 3.5em;
}

.post-title {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: .2em;
    color: white;
    margin-block-end: 0;
}

.date {
    color: rgb(153, 152, 152);
    font-family: Libre Franklin, sans-serif;
    font-weight: 600;
}

.img-text {
    color: #FFFFFF;
    font-family: Libre Franklin, sans-serif;
    line-height: 2em;
}

.read-all {
    font-family: Libre Franklin, sans-serif;
    font-size: x-large;
    text-transform: uppercase;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}

.read-all-small {
    display: none;
}

.title {
    position: relative;
    text-align: center;
    bottom: 10em;
    font-size: xx-large;
}

.latest-posts-heading {
    margin-bottom: 3em;
}


/* Why hire us section */

.column {
    display: flex;
    justify-content: space-evenly;
    margin: 4em 1em;
    text-align: left;
}

.row {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

div.column img {
    float: left;
    margin-right: 3em;
}

p.text-align {
    padding-right: 2.5em;
}

#contractor {
    padding-left: 1em;
}


/* OUR CLIENTS section */

.logo {
    margin: 4em 2em;
    padding-bottom: 6em;
    filter: contrast(0%);
}

.logo:hover {
    filter: brightness(80%);
}


/* FROM OUR CLIENTS section */

#human-pic {
    max-width: 150px;
    max-height: 150px;
}

#wrap {
    margin-bottom: 0;
}

#comment {
    color: #313F48;
    font-family: Libre Franklin, sans-serif;
    line-height: 2em;
    font-weight: 300;
    font-style: italic;
}

#name {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    color: #313F48;
}

#info {
    margin-top: .5em;
    margin-bottom: 2em;
    color: #a5a5a5;
    letter-spacing: .08em;
    font-size: large;
    text-align: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(153, 152, 152);
    display: inline-block;
    transition: background-color 0.3s ease;
}

.dot.active {
    background-color: rgb(153, 152, 152);
}

.nav-dots {
    margin-bottom: 3em;
    text-align: center;
}

.dot:hover {
    background-color: rgb(153, 152, 152);
}


/* HOW WAS THAT section */

div.row-btns a.btn {
    display: inline-block;
    border: .01em solid rgb(209, 208, 208);
    border-radius: 2px;
    color: #313F48;
    background-color: white;
    font-size: large;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: .12em;
    height: 2em;
    cursor: pointer;
    width: 12.5em;
    padding-top: .5em;
    margin: 1.5em .5em;
    transition: font-weight .4s ease;
    transition: box-shadow .5s ease;
}

div.row-btns a.btn:hover {
    border: none;
    font-weight: 600;
    box-shadow: 1.5em .2em 2em rgba(94, 95, 95, 0.3);
}

.f-div-center {
    width: 100%;
    text-align: center;
    padding: 4em 0;
    background-color: #F4F5F6;
}


/* FOOTER */

.all-rights {
    font-family: Poppins, sans-serif;
    font-size: small;
    color: #313F48;
    letter-spacing: .2em;
    margin-top: 4em;
    margin-bottom: 2.5em;
}

.f-btn {
    margin: 0 .5em;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


/* Small screen */

@media (max-width: 865px) {
    div.row-btns a.btn {
        margin: .5em .2em;
        width: 9.5em;
    }
    .btn {
        display: none;
    }
    li a {
        padding: 0;
        line-height: 2.5em;
    }
    .collapse {
        display: block;
        cursor: pointer;
        width: 150px;
        padding-bottom: .5em;
    }
    .description {
        padding: 0 1em;
    }
    div#nav-buttons {
        display: inline-flex;
        float: right;
        position: absolute;
        right: 3px;
        margin-left: 4em;
    }
    .home-buttons.responsive ul {
        display: flex;
        flex-direction: column;
        z-index: 100;
        transform: translateY(25px);
        transition: all 1s ease;
    }
    .home-buttons.responsive .btn {
        display: block;
    }
    h1 {
        font-size: xx-large;
    }
    .centered {
        font-size: large;
    }
    .flex-container {
        flex-direction: column;
    }
    .title {
        display: none;
    }
    .title.post-title {
        display: block;
    }
    .row {
        display: block;
        margin: 2em auto;
    }
    #info {
        text-align: center;
        font-size: small;
    }
    span {
        max-width: 260px;
    }
    .centered {
        font-size: normal;
        padding-top: 4em;
    }
    #comment {
        font-size: normal;
        line-height: normal;
    }
    .logo {
        max-width: 120px;
        max-height: 120px;
        padding-bottom: 0;
    }
    .latest-posts-heading {
        margin-bottom: 2em;
    }
    div.column img {
        margin-right: 1em;
        width: 100px;
        height: 100px;
    }
    .flex {
        flex-direction: column;
    }
}

@media only screen and (max-width: 1320px) {
    .description {
        padding: 0;
        text-align: left;
        font-size: medium;
        /* or small */
    }
    p.comment {
        line-height: 1.2em;
    }
    .flex-container {
        flex-direction: column;
    }
    div.img-description {
        display: none;
    }
    .img-container:hover div.img-description {
        transform: none;
        transition: none;
        display: none !important;
    }
    body {
        line-height: normal;
    }
}

@media only screen and (max-width: 1400px) {
    .flex-container {
        flex-direction: column;
        justify-content: center;
    }
    .img-container:hover div.img-description {
        transform: none;
        transition: none;
        display: none !important;
    }
    .read-all-small {
        display: block;
        max-width: 100%;
        top: 8em;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: smaller;
    }
    .img-container:hover .title.post-title {
        display: block;
    }
}

@media only screen and (max-width: 1700px) {
    .img-container {
        margin: 0 .2em;
        transform: none;
        transition: none;
        margin-bottom: 4em;
        height: 500px;
    }
    .img-container:hover {
        transform: none;
        transition: none;
    }
    .img-description {
        bottom: 6em;
    }
}